@font-face {
  src: url(~assets/fonts/Chivo-Regular.ttf) format('truetype');
  font-weight: 400;
  font-family: 'Chivo';
}
@font-face {
  src: url(~assets/fonts/Chivo-Light.ttf) format('truetype');
  font-weight: 400;
  font-family: 'ChivoLight';
}
@font-face {
  src: url(~assets/fonts/Chivo-Bold.ttf) format('truetype');
  font-weight: 400;
  font-family: 'ChivoBold';
}
@font-face {
  src: url(~assets/fonts/Chivo-Black.ttf) format('truetype');
  font-weight: 400;
  font-family: 'ChivoBlack';
}